@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="max-w-md mx-auto">
  <div class="flex flex-col items-center">
    <h1>@ViewData["Title"]</h1>
  </div>
      <h4>Use an existing account to log in.</h4>
      @{
          if ((Model.ExternalLogins?.Count ?? 0) == 0)
          {
              <div>
                  <p>
                      There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                      for details on setting up this ASP.NET application to support logging in via external services.
                  </p>
              </div>
          }
          else
          {
              <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                  <div>
                      <p>
                          @foreach (var provider in Model.ExternalLogins)
                          {
                              <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                          }
                      </p>
                  </div>
              </form>
          }
      }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
